# Игнорировать файлы и директории, созданные Python и IDE
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.pyz
*.pyw
*.swp
.vscode/
.idea/

# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы логов
*.log

# Игнорировать скомпилированные файлы
*.exe
*.dll
*.so
*.dylib

# Игнорировать файлы проекта
*.pdf
*.txt